:root {
    --size: 22px;
}
body {
    font-size: var(--size);
    font-family: Arial, Helvetica, sans-serif;
    color: #222 !important;
    background: #ffffff;
}
button {
    display: block;
    background: #f5f5f5;
    padding: calc(var(--size) * 0.33) calc(var(--size) * 0.66) calc(var(--size) * 0.4) calc(var(--size) * 0.66);
    border: none;
    border-radius: calc(var(--size) / 2);
}
button + * {
    margin-top: calc(var(--size) / 2);
}
button:hover {
    background: #ddd;
}
a {
    text-decoration: none;
    color: #a8dcff;
}
a:hover {
    color: #83cdff;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-bottom: calc(var(--size) / 2);
}
h1 {
    font-size: 1.89em;
}
h2 {
    font-size: 1.66em;
}
h3 {
    font-size: 1.43em;
}
h4 {
    font-size: 1.3em;
}
h5 {
    font-size: 1.16em;
}
h6 {
    font-size: 1em;
}
p {
    line-height: calc(var(--size) * 1.33);
}
.content {
    max-width: 1280px;
    margin: 0 auto;
    padding-left: 100px;
}
.container {
    display: block;
    background: #ffffff;
    border-radius: var(--size);
}
.container.text {
    margin: var(--size);
    padding: calc(var(--size) * 1.66);
    box-shadow: 0 0 calc(var(--size) * 0.66) #3333;
}
.container.img_text {
    display: flex;
    margin: var(--size);
    box-shadow: 0 0 calc(var(--size) * 0.66) #3333;
}
.container.img_text>img {
    border-radius: var(--size) 0 0 var(--size);
    width: min(23vw, 400px);
    height: min(23vw, 400px);
}
.container.img_text.right>img {
    border-radius: 0 var(--size) var(--size) 0;
}
.container.img_text>div {
    padding: calc(var(--size) * 1.66);
    height: fit-content;
    margin: auto 0;
}
.container.img_text.right>div {
    text-align: right;
}
@media screen and (max-width: 1280px) {
    .container.img_text {
        flex-direction: column;
    }
    .container.img_text>img {
        border-radius: var(--size);
        width: min(66vw, 400px);
        height: min(66vw, 400px);
    }
    .container.img_text.right {
        flex-direction: column-reverse;
    }
    .container.img_text.right>img {
        border-radius: var(--size);
        width: min(66vw, 500px);
        height: min(66vw, 500px);
        margin-left: auto;
    }
}
.container.calc>div {
    margin-top: var(--size);
    margin-right: var(--size);
    vertical-align: top;
    display: inline-block;
    border: 1px solid #3333;
    padding: var(--size);
    border-radius: var(--size);
}
.container.calc>div>span {
    display: block;
    font-size: 0.8em;
}
.container.calc>div>input {
    display: block;
    background: #f5f5f5;
    padding: calc(var(--size) * 0.33) calc(var(--size) * 0.66);
    border: none;
    border-radius: calc(var(--size) / 2);
}
.container.calc>div>input[type="range"] {
    width: calc(100% - var(--size) * 1.5);
}
.what-you-loose {
    max-width: 300px;
}
.what-you-loose>h5 {
    text-align: center;
}
.what-you-loose>img {
    display: block;
    max-width: 76px;
    margin: var(--size) auto;
}
section.big-header {
    width: fit-content;
    font-size: 2em;
    margin: 0 auto;
    padding: 3em 0;
}
footer {
    margin-top: 22vw;
    background: #222;
    color: #ffffff;
    padding: var(--size);
}
footer>img {
    display: block;
    position: relative;
    top: -13vw;
    max-height: 560px;
    margin: 0 auto;
}
footer>div {
    max-width: 1280px;
    margin: 0 auto; 
}
footer>div>* {
    margin-bottom: calc(var(--size) / 2);
}
.copyright {
    margin-top: 6em;
    color: #999;
}
@media screen and (max-width: 555px) {
    .content {
        padding-left: 0;
    }
    .cigar {
        display: none;
    }
}
@media screen and (max-height: 320px) {
    .content {
        padding-left: 0;
    }
    .cigar {
        display: none;
    }
}


@media screen and (max-width: 420px) {
    :root {
        --size: 16px;
    }
}
@media screen and (max-width: 369px) {
    :root {
        --size: 14px;
    }
}
@media screen and (max-width: 320px) {
    :root {
        --size: 12px;
    }
}
@media screen and (max-width: 269px) {
    :root {
        --size: 11px;
    }
}
@media screen and (max-width: 237px) {
    :root {
        --size: 10px;
    }
}